[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-apt"]
	path = dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
	ignore = dirty
[submodule "oh-my-bash"]
	path = oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
[submodule "tmux/gpakosz"]
	path = tmux/gpakosz
	url = git@github.com:gpakosz/.tmux.git
[submodule "nvm"]
	path = nvm
	url = git@github.com:nvm-sh/nvm.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "catppuccin/alacritty"]
	path = catppuccin/alacritty
	url = git@github.com:catppuccin/alacritty.git
[submodule "catppuccin/bat"]
	path = catppuccin/bat
	url = git@github.com:catppuccin/bat.git
[submodule "catppuccin/spicetify"]
	path = catppuccin/spicetify
	url = git@github.com:catppuccin/spicetify.git
[submodule "catppuccin/gtk"]
	path = catppuccin/gtk
	url = git@github.com:catppuccin/gtk.git
[submodule "catppuccin/cursors"]
	path = catppuccin/cursors
	url = https://github.com/catppuccin/cursors.git
