[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-apt"]
	path = dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
	ignore = dirty
[submodule "oh-my-bash"]
	path = oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
[submodule "tmux/gpakosz"]
	path = tmux/gpakosz
	url = git@github.com:gpakosz/.tmux.git
[submodule "nvm"]
	path = nvm
	url = git@github.com:nvm-sh/nvm.git
[submodule "catppuccin/alacritty"]
	path = catppuccin/alacritty
	url = git@github.com:catppuccin/alacritty.git
[submodule "catppuccin/bat"]
	path = catppuccin/bat
	url = git@github.com:catppuccin/bat.git
[submodule "catppuccin/gtk"]
	path = catppuccin/gtk
	url = git@github.com:catppuccin/gtk.git
[submodule "catppuccin/cursors"]
	path = catppuccin/cursors
	url = https://github.com/catppuccin/cursors.git
[submodule "neovim"]
	path = neovim
	url = git@github.com:neovim/neovim.git
[submodule "nvim_kickstart"]
	path = nvim_kickstart
	url = https://github.com/nvim-lua/kickstart.nvim.git
[submodule "fzf-git.sh"]
	path = fzf-git.sh
	url = git@github.com:junegunn/fzf-git.sh.git
[submodule "rose-pine/bat"]
	path = rose-pine/bat
	url = git@github.com:rose-pine/tm-theme.git
